@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Cormorant Garamond", sans-serif;
  position: relative;
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* splashscreen */
.splash-screen {
  position: absolute;
  height: 100vh;
  background-color: #fff;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: ease 0.5s;
  width: 100%;
  gap: 1rem;
  animation-name: slideLeft;
  animation-delay: 4s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-image: linear-gradient(rgba(0, 0, 0, 0.738), rgba(0, 0, 0, 0.664)),
    url("./images/splashscreenmobile.jpg");
  background-position: center;
  background-size: cover;
}

.splash-screen img {
  width: 100px;
  transition: ease 0.5s;
  animation-name: scaleUp;
  animation-duration: 1.5s;
}

.splash-screen h2 {
  animation-name: fadeIn;
  transition: ease 0.5s;
  animation-delay: 1.5s;
  opacity: 0;
  animation-duration: 5s;
  color: #e278e2;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* header */
header {
  background-color: #000;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 3px 20px #000;
  width: 100%;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

/* header .logo {
  font-size: 2rem;
  color: #daa520;
} */

header .logo img {
  width: 50px;
}

nav {
  position: absolute;
  top: 71px;
  left: 0;
  width: 100%;
  display: grid;
  place-content: center;
  background-color: #000;
  max-height: 0px;
  overflow: hidden;
  transition: ease 0.5s;
  text-align: center;
  opacity: 0;
}

nav ul {
  display: grid;
  gap: 1.5rem;
  padding: 2rem 0;
}

nav a {
  color: #fff;
  text-transform: uppercase;
  transition: ease 0.4s;
}

#close-menu-icon {
  display: none;
  transition: ease 0.3s;
}

header .open-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* for javascript */
nav.nav-open {
  max-height: 300px;
  opacity: 1;
}

#close-menu-icon.display {
  display: block;
}

#open-menu-icon.no-display {
  display: none;
}
/* ***************** */
/* header closed */

/* homepage */
main {
  overflow: hidden;
}

#homepage {
  background-image: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0)),
    url("./images/akuoma2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

#homepage .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.homepage-article {
  color: #fff;
  text-transform: capitalize;
}

/* js */
.homepage-article.none {
  display: none;
}
/* ***** */

.homepage-article h3 {
  font-size: 2rem;
  padding: 1rem 0 0;
}

.homepage-article h1 {
  font-size: 2.7rem;
  word-spacing: -20px;
  color: #e278e2;
  margin-top: -1rem;
}

.homepage-article p {
  font-size: 2rem;
}

.countdown > span {
  display: flex;
  gap: 0.5rem;
}

.countdown .days-wrapper {
  font-size: 2.5rem;
}

.countdown .hrs-wrapper {
  font-size: 2rem;
}

.countdown .min-wrapper {
  font-size: 1.5rem;
}

.countdown .secs-wrapper {
  font-size: 1rem;
}

.attendance-query {
  margin-bottom: 15rem;
  text-align: end;
}

.attendance-query .query-response {
  display: grid;
  justify-content: flex-end;
  gap: .5rem;
}

.attendance-query p {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 900;
}

.query-response button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #e278e2;
  color: #000;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Cormorant Garamond", sans-serif;
  cursor: pointer;
}

.query-response button:hover {
  background-color: #550855c2;
}

.seat-reservation {
  background-color: #000;
  margin: 0 auto;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: ease 1s;
} 

#seat-form {
  display: grid;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  gap: 2rem;
}

.name,
#sideOfFamily,
#get-a-seat {
  padding: 0.5rem 1.5rem;
  text-align: center;
}


.name,
#sideOfFamily {
  border: none;
  border-bottom: 1px solid #e278e2;
  outline: none;
  background-color: transparent;
  color: #fff;
}

.side { /* label sideoffamily */
  display: none;
}

select {
  color: #fff;
}

option {
  background-color: #000;
  padding: 1rem 0;
}

#get-a-seat {
  border: none;
  background-color: #e278e2;
  cursor: pointer;
}

#get-a-seat:hover {
  background-color: #550855c2;
  color: #fff;
}

#close-form {
  margin: 0 auto 2rem;
  display: block;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #e278e2;
  cursor: pointer;
}


.access-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  padding: 3rem 1rem;
  border-radius: 5px;
  display: none;
  color: #fff;
  word-spacing: 5px;
  text-align: center;
  width: 90%;
  max-width: 1024px;
}

.access-card.generated {
  display: block;
}

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.access-card p:nth-child(3) {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: rgb(244, 116, 116);
}


.access-card button,
#closeseatchart {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #e278e2;
  margin-top: 2rem;
  cursor: pointer;
}

.decline-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.62);
  line-height: 1.6;
  padding: 2rem;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  display: none;
  color: #fff;
}


.decline-message button {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #e278e2;
  margin-top: 2rem;
  cursor: pointer;
}

.decline-message.show {
  display: block;
}

#seatchart {
  cursor: pointer;
}


.seat-chart {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 100%;
  max-width: 1024px;
  transition: ease 0.5s;
  opacity: 0;
  background-color: #fff;
  color: #000;
}

#closeseatchart {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.seat-chart.pop {
  display: block;
  opacity: 1;
}

#chart {
  text-align: center;
}

.seat-chart img {
  width: 100%;
}

#seat-form p {
  color: #fff;
}

#seat-form a {
  color: #e278e2;
  cursor: pointer;
}

/* for javascript */
 .attendance-query.n-display {
  display: none;
}
/* ***** */


/* for javascript */
.seat-reservation.pop-out {
  max-height: 100%;
  opacity: 1;
}
/* ******** */



/* footer */

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.67)),
    url("./images/footer\ mb.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}

footer .container {
  min-height: 100vh;
  display: flex;
  padding: 6rem 0 4rem;
  line-height: 1.7;
}

footer p {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  header .open-menu {
    display: none;
  }

  .splash-screen {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.738),
        rgba(0, 0, 0, 0.664)
      ),
      url("./splashdesk.jpg");
  }

  nav {
    position: initial;
    top: initial;
    left: initial;
    width: initial;
    display: initial;
    max-height: initial;
    overflow: initial;
    text-align: initial;
    opacity: unset;
  }

  nav ul {
    display: flex;
    align-items: center;
    padding: unset;
  }

  nav a:hover,
  nav a:focus {
    color: #e278e2;
  }

  #homepage {
    padding-top: 6rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.805), rgba(0, 0, 0, 0)),
      url("./images/akuoma2-2.jpg");
    background-size: cover;
    background-position-y: 100%;
    background-color: #fff;
  }

  .homepage-article h3 {
    padding: 0;
  }
  .homepage-article h1 {
    font-size: 6rem;
  }

  .attendance-query {
  margin-bottom: 15rem;
  text-align: start;
}

.attendance-query .query-response {
  display: grid;
  justify-content: flex-start;
  gap: .5rem;
}

.attendance-query p {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 900;
}

.query-response button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #e278e2;
  color: #000;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Cormorant Garamond", sans-serif;
  cursor: pointer;
}


.query-response button:hover {
  color: #fff;
}

 
  /* rsvp */

  .seat-reservation {
    width: 50%;
  }

  #seat-form {
    padding: 5rem 2rem;
    gap: 4rem;
  }

  #get-a-seat {
    width: 50%;
    margin: 0 auto;
  }

  .seat-chart img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  footer {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.765),
        rgba(0, 0, 0, 0.724)
      ),
      url("./images/footer\ dktp.jpg");
    background-position-x: 70%;
    background-size: cover;
  }

  footer .container {
    align-items: center;
    padding: 0 20rem 0 0;
    font-size: 1.5rem;
  }
}
